<div>
    <div class="flow">
        <div style="padding: 30px;">
            <h3 style="color: white; text-align: left;margin-left: 40px ; font-size: 40px;" >Products</h3>
            <span>
                <button type="button" class="btn btn-light" style="margin-left: 70% ;"
                routerLink="/add">Add new Product</button>
            </span>
        </div>
    </div>
    <div class="overlap">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Active</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>A walk amongts friday</td>
                <td>Canvas print</td>
                <td>$10.24</td>
                <td>3</td>
                <td>Active</td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Brain Lake Canvas Print</td>
                <td>Canvas print</td>
                <td>$24.63</td>
                <td>92</td>
                <td>Active</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Fall Glow- Canvas Print</td>
                <td>Canvas print</td>
                <td>$45</td>
                <td>60</td>
                <td>Active</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>First Snow- Canvas Print</td>
                <td>Canvas print</td>
                <td>$69</td>
                <td>101</td>
                <td>Inactive</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Lago di Brains</td>
                <td>Canvas print</td>
                <td>$10</td>
                <td>19</td>
                <td>Active</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Lago di Scarpio</td>
                <td>Canvas print</td>
                <td>$59</td>
                <td>101</td>
                <td>Inactive</td>
              </tr>

            </tbody>
          </table>
    </div>

</div>