<div>
    <div class="flow">
        <div style="padding: 30px;">
            <h3 style="color: white; text-align: left;margin-left: 40px ; font-size: 40px;" >Products</h3>
            <span>
                <button type="button" class="btn btn-light" style="margin-left: 70% ;"
                routerLink="/add">Add new Product</button>
            </span>
        </div>
    </div>
    <div class="overlap">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Active</th>
              </tr>
            </thead>
            <tbody>
                <tr style="color: black;" *ngFor="let data of Products ;let i = index">
                    <td>{{i+1}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.category}}</td>
                    <td>${{data.price}}</td>
                    <td>    
                        <!-- color ball logic accordng to quatity -->
                        <mat-icon  style="font-size: 10px;color:red">
                            circle
                        </mat-icon>
                        {{data.quantity}}
                    </td>
                    <td>
                        <!-- tick logic according to activity status -->
                        <mat-icon style="color:green">check_circle</mat-icon>
                        {{data.activity}}
                    </td>
                </tr>
            </tbody>
          </table>
    </div>

</div>