<div>
    <div class="flow">
        <div style="padding:30px;">
            <button mat-icon-button aria-label="Example icon-button with arrow_back" style="color:white; text-align: left; margin-top: 30px;">
                <mat-icon style="font-size: 30px;">arrow_back</mat-icon>
              </button>
            <span >
                <button type="button" class="btn btn-light" style="margin-left: 70% ;">Save</button>
            </span>
        </div>
    </div>
    <div class="overlap">
        <div>
            <nav style=" background-color: white;height: 46px; border-bottom: 1px solid#f2f2f2;"></nav>
            
            <form class="add-form">
                <mat-form-field class="field">
                  <mat-label>Product Name</mat-label>
                  <input matInput placeholder="Ex.Book Name" >
                </mat-form-field>


                <mat-form-field class="field">
                  <mat-label>Categories</mat-label>
                  <input matInput placeholder="Ex. Canvas print, Nature">
                </mat-form-field>
              </form>
        </div>
    </div>
</div>